.editor {
  background: $documentBackgroundColor;
  border: 1px solid #222;
  bottom: 0;
  left: 0;
  margin: 1rem 1rem 1rem 0;
  padding: 0.5rem;
  position: absolute;
  right: 50%;
  top: 0;

  textarea {
    @mixin stretch-panel;
    background: $documentBackgroundColor;
    border: 0;
    font-family: $editorFont;
    padding: 0.5rem;
    resize: none;
    width: 100%;
  }
}
