.editor {
  background: $documentBackgroundColor;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;

  textarea {
    background: $documentBackgroundColor;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
